.status {
    font-size: 40px;
    font-weight:700;
    color:yellow;
    text-transform:uppercase;
}

th, td {
    padding: 5px;
}

h2 {
    font-size: 20px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    right: 20px;
    top: 50%;
    background-color: black;
    position: absolute;
    z-index: -2;
}

h2 span {
    background-color: white;
}