<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getBalanceByAddress</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <section class="container mt-3">
        <div class="a-toggle">
            <a class="a-toggle-content" data-bs-toggle="collapse" href="#f1-content" role="button" aria-expanded="false" aria-controls="f1-content"><span>1. getBalanceByAddress</span></a>
        </div>
        <div class="collapse mt-3 show" id="f1-content">
            <form class="f1 query-form">
                <div class="row g-3">
                    <div class="form-group col">
                        <label for="address" class="form-label">Address: </label>
                        <input type="text" id="address" class="form-control" placeholder="address" name="address" size=45>
                    </div>
                    <div class="form-group col">
                        <label for="key" class="form-label">Key: </label>
                        <input type="text" id="key" class="form-control" placeholder="key" name="key" size=40>
                    </div>
                </div>
                <div class="position-relative">
                    <button type="submit" class="f1 start-btn btn btn-primary mt-3">Start</button>
                    <div class="spinner-border text-primary f1 spin d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </form>
            <div class="mt-3">
                <p>Current Balance: <span class="f1 cbalance"></span> New Balance: <span class="f1 nbalance"></span></p>
                <p>Balance Tracking:</p>
                <ul class="f1 li-balance"></ul>
                <p>Status: <span class="f1 status"></span></p>
            </div>
        </div>
    </section>

    <section class="container mt-3">
        <div class="a-toggle">
            <a class="a-toggle-content" data-bs-toggle="collapse" href="#f2-content" role="button" aria-expanded="false" aria-controls="f2-content"><span>2. getLPTransbyAddress</span></a>
        </div>
        <div class="collapse mt-3 show" id="f2-content">
            <form class="f2 query-form">
                <div class="row g-3">
                    <div class="form-group col">
                        <label for="address" class="form-label">Address: </label>
                        <input type="text" id="address" class="form-control" placeholder="address" name="address" size=45>
                    </div>
                    <div class="form-group col">
                        <label for="key" class="form-label">Key: </label>
                        <input type="text" id="key" class="form-control" placeholder="key" name="key" size=40>
                    </div>
                </div>
                <div class="row g-3 mt-0">
                    <div class="form-group col">
                        <label for="timestamp" class="form-label">Min Timestamp: </label>
                        <input type="text" id="timestamp" class="form-control" placeholder="timestamp" name="timestamp" size=10>  
                    </div>
                    <div class="form-group col">
                        <label for="key2" class="form-label">Key2: </label>
                        <input type="text" id="key2" class="form-control f2 key2" placeholder="key2" name="key2" size=40 disabled>
                    </div>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="status-check">
                    <label class="form-check-label" for="status-check">Status Check</label>
                </div>
                <div class="position-relative">
                    <button type="submit" class="f2 start-btn btn btn-primary mt-3">Start</button>
                    <div class="spinner-border text-primary f2 spin d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </form>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Hash</td>
                        <th scope="col">Block Number</td>
                        <th scope="col">Token Name</td>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="f2 table-trans">
                </tbody>
            </table>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>